body {
    background-color:lightblue;
}

h1 {
    color: black;
    text-align: center;
}

p{
    font-family: verdana;
    font-size: 20px;
}

.task1{
    color: purple;
    background-color: lemonchiffon;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 23px;
}

.task2{
    color: rgb(67, 90, 81);
    background-color: rgb(184, 168, 23);
    font-family: 'Segoe UI', Tahoma,  Verdana, sans-serif;
    font-size: 26px;
}

.task3{
    color: plum;
    background-color: rgb(3, 14, 107);
    font-family: 'Times New Roman', Times, serif;
    font-size: 29px;
}



a.one:link {
    color: green;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
a.one:visited {
    color: lime;
}
a.one:hover {
    color: yellow;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}






a.two:link {
    color: gold;
}
a.two:visited {
    color: yellow;
}
a.two:hover {
    color: peru;
    font-size:500%;
}


a.three:link, a.three:visited {
    color: black;
    background-color: white;
    border: 2px solid yellow;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.three:hover {
    color: blue;
    background-color: yellow;
}



a.four:link, a.four:visited {
    color: black;
    background-color: red;
    border: 1px double greenyellow;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: ruby-base-container;
}
a.four:hover {
    color: white;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}



a.five:link, a.five:visited {
    color: black;
    background-color: darkgreen;
    border: 10px dashed greenyellow;
    padding: 10px 20px;
    text-align: right;
    text-decoration: teal;
    display: inline-flex;
}
a.five:hover {
    color: white;
    background-color: violet;
    text-decoration: overline;
}






.task4{
    color: rgb(41, 14, 199);
    background-color: rgb(170, 145, 121);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
}
ul {
    list-style-type: lower-alpha;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    color: black;
    font-size: 30px;
}

ul li{
    background-color: palevioletred;
}

li.a{
    background-color: pink;
    margin: 10px;
}

.task5{
    color: rgb(56, 221, 23);
    background-color: rgb(74, 58, 77);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.task6{
    color: rgb(218, 58, 18);
    background-color: rgb(19, 19, 18);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 38px;
}